<%- include('partials/header') %>
<div class="content-wrapper">
  <section class="content-header">
    <h1>
      <%= page_title %>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active"><%= page_title %></li>
    </ol>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua sbs_count">
          <div class="inner">
            <h3 id="get_users_count" filter="role:app_user">0</h3>
            <p>Users</p>
          </div>
          <div class="icon">
            <i class="fa fa-users"></i>
          </div>
          <a href="../users/manage" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green sbs_count">
          <div class="inner">
            <h3 id="get_exercises_count" filter="">0</h3>
            <p>Exercises</p>
          </div>
          <div class="icon">
            <i class="fa fa-grav"></i>
          </div>
          <a href="../exercise/manage" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow sbs_count">
          <div class="inner">
            <h3 id="get_equipments_count" filter="">0</h3>
            <p>Equipments</p>
          </div>
          <div class="icon">
            <i class="fa fa-life-ring"></i>
          </div>
          <a href="../equipment/manage" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red sbs_count">
          <div class="inner">
            <h3 id="get_workouts_count" filter="">0</h3>
            <p>Workouts</p>
          </div>
          <div class="icon">
            <i class="ion ion-pie-graph"></i>
          </div>
          <a href="#" class="small-box-footer"><i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
    </div>
  </section>
</div>
<%- include('partials/footer') %>

</body>
</html>
