<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title"><% if(typeof error === 'undefined'){ %> <%= user.name %> <% } else { %> <%= 'Error' %> <% } %></h4>
</div>
<form id="user-delete-form" method="post" action="/api/delete_user">
<div class="modal-body">
  <%
  if(typeof error !== 'undefined'){ %>
  <p class="text-danger"><i class="fa fa-fw fa-warning"></i> <%= error %></p>
  <% }
  else{ %>
    <p class="text-warning"><i class="fa fa-fw fa-warning"></i> Are you sure want to delete this record.</p>
    <input type="hidden" name="user_id" value="<%= user.id %>">
   <% } %>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary   pull-left" data-dismiss="modal">Close</button>
  <% if(typeof error === 'undefined'){ %>
    <button type="submit" class="btn btn-primary " id="user-delete-form-btn" name="button">Delete</button>
  <% } %>
</div>
</form>
<script type="text/javascript">
  $(function(){
    /*user update form*/
    var form_options = {
      dataType: "json",
      beforeSubmit: function(formData, jqForm, options){
        var formID = jqForm.attr('id');
        processing_Attr(formID);
      },
      success: function(json, responseText, xhr, form){
        var formID = form.attr('id');
        if(json.status == 1){
          successing_Attr(formID,json.data.message);
          table.draw(false);
        }
        else{
          error_Attr(formID,json.data.error);
        }
      }
    };
    $("#user-delete-form").ajaxForm(form_options);
  })
</script>
